 <div class="container">
        <form name="myForm" action="interestform" method="post">
        {{!-- <form name="myForm" action="#" onsubmit="return validateForm()" method="post"></form> --}}
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname" onKeyUp="fnameInput()" onkeypress="return /[a-z]/i.test(event.key)" autocomplete="off"><br><br>
            <label for="email">Email address:</label>
            <input type="text" id="email" name="email" onKeyUp="emailValidateEmail()" autocomplete="off"><br><br>
            <label for="mobile">Mobile number:</label>
            <input type="text" id="mobile" name="mobile" onKeyUp="mobileInput()" autocomplete="off"><br><br>
            <input type="submit" value="Submit">
    </form>
    </div>