<h1>Welcome 🙌 {{username}}</h1>
<button onclick="location.href = 'logout';" id="myButton" class="float-left submit-button" >Logout</button>

    <h1>Upload Image</h1>
    <form action="/uploadphoto" enctype="multipart/form-data" method="POST">
        <input type="file" name="myImage" accept="image/*">
        <input type="submit" value="Upload Photo">
    </form>

    <p>Want to see uploaded image? <a href="ViewImg">Updated Image</a>.</p>
    