<h1>Assignment - MongoDB insertion --- By S. Gnanadass</h1>

<form action="/insert" method="POST">

 <label for="cuisine">Choose a cuisine:</label>
  <select id="cuisine" name="cuisine">
    <option value="Salmon">Salmon</option>
    <option value="Tuna">Tuna</option>
    <option value="Shrimp">Shrimp</option>
  </select><br><br>
<label for="ingredients">Choose an ingredients:</label><br><br>
<input type="checkbox" id="salt" name="salt" value="salt">
  <label for="vehicle1"> salt</label><br>
  <input type="checkbox" id="pepper" name="pepper" value="pepper">
  <label for="vehicle2"> pepper</label><br>
  <input type="checkbox" id="chilli" name="chilli" value="chilli">
  <label for="vehicle3"> chilli</label><br><br>




<div class="container2">
<label for="LabelProtein">Nutrition :</label><br><br>
<div id="LabelProtein" name="LabelProtein">
   <label for="Protein">Protein:</label><br>
  <input type="text" id="Protein" name="Protein" value="10"><br>
  <label for="Fat">Fat:</label><br>
  <input type="text" id="Fat" name="Fat" value="5"><br><br>
   <label for="Carbohydrate">Carbohydrate:</label><br>
  <input type="text" id="Carbohydrate" name="Carbohydrate" value="10"><br>
  <label for="Others1">Others1:</label><br>
  <input type="text" id="Others1" name="Others1" value="5"><br><br>
  <label for="Others2">Others2:</label><br>
  <input type="text" id="Others2" name="Others2" value="5"><br><br>
</div></div>
  <label for="likeit">Why do you like it:</label><br>
  <input type="text" id="likeit" name="likeit" value="Yes"><br>
  <label for="Others">Others:</label><br>
  <input type="text" id="Others" name="Others" value=""><br><br>

  <input type="submit" value="Insert into MongoDB">
</form> 
