<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment - Interest Form</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="js/script.js"></script>

</head>
<body>
    <div class="container">
<ul class="horizontal">
   <li><a class="active" href="/">Home</a></li>
  <li><a href="/interestform">Interest Form</a></li>
 
<li><a href="/adminpage">AdminPage</a></li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Account</a>
    <div class="dropdown-content">
      <a href="/register">Register</a>
      <a href="/login">Login</a>
      <a href="/logout">Logout</a>
    </div>
  </li>
   <li><a href="/">About</a></li>
</ul>


    {{{body}}}
    <h6>Assignment - Interest Form --- By S. Gnanadass</h6>
    </div>
</body>
</html>