<div class="d-flex justify-content-center">
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">User {{user}} successfully logged in</div>
  <div class="card-body">
    <h4 class="card-title">Welcome {{user}}</h4>
    <p class="card-text">user credentials successfully authenticated</p>
  </div>
</div>
</div>
